<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <style>
        .crosshairs {
            display: none;
            position: absolute;
        }

        .credits {
            padding: 20px;
            background-color: #A93735;
            color: #FFFFFF;
            font-size: 1.1em;
        }

        .credits a {
            color: #F9E2A0;
        }

        .credits a:hover {
            color: #456CAA;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #456CAA;
            color: #FFFFFF;
            padding: 15px;
        }

        ul li {
            font-size: 1.1em;
            margin-bottom: 15px;
            font-family: 'Open Sans', sans-serif;
        }

        h1 {
            font-size: 3em;
            margin: 0;
            padding: 0;
        }

        h3 {
            margin: 0;
            padding: 0;
            font-size: 1.8em;
        }

        p {
            font-size: 1.3em;
            font-family: 'Open Sans', sans-serif;
            line-height: 1.4em;
        }

        .help {
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 20px;
            color: #ffffff;
            font-size: 2em;
        }

        .help:hover {
            color: #A93735;
        }

        .red {
            color: #A93735;
        }

        .blue {
            color: #456CAA;
        }

        body {
            font-family: 'Bangers', cursive;
            background: url('/images/city.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        img {
            position: absolute;
            top: 50px;
            left: 50px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 25px;
            padding-top: 11px;
            padding-left: 15px;
            color: #FFFFFF;
        }

        .footer input {
            color: #000000;
        }

        .spin{
            -webkit-animation: spinreverse 2s linear;
        }

        @-webkit-keyframes spinreverse {
            0%  {-webkit-transform: rotate(0deg);}
            100% {-webkit-transform: rotate(-360deg);}
        }

        .help-text {
            border-radius: 4px;
            position: absolute;
            top: 4em;
            bottom: 4em;
            right: -200rem;
            width: 25rem;
            padding: 15px;
            background-color: rgba(255, 255, 255, .8);
            transition: right .4s;
            overflow-y: auto;
        }

        body.show-help .help-text {
            right: 1rem;
        }
    </style>
</head>
<body>

<img src="images/superman.gif"
     class="supes"
     alt="">

<div class="footer">
    left: <input type="number"
                 id="left">

    top: <input type="number"
                id="top">

    <button id="move">Move</button>
    <button id="zoom">Zoom</button>
    <button id="showoff">Show Off</button>
</div>
<i class="help fa fa-question-circle"></i>
<div class="help-text">
    <h1 class="red">
       Bitwise Man
    </h1>

    <h3 class="blue">
        He's not just a one trick pony...
    </h3>

    <p>
        Bitwise Man is an Amazon Alexa demo application that allows you to control Bitwise Man with your voice.  To test it out
        simply try a few of the following Alexa commands.
    </p>

    <ul>
        <li>"tell Bitwise Man to fly left twenty five"</li>
        <li>"tell Bitwise Man to fly top thirty six"</li>
        <li>"tell Bitwise Man to fly left one hundred seven top thirty two"</li>
        <li>"tell Bitwise Man to fly closer"</li>
        <li>"tell Bitwise Man to come closer"</li>
        <li>"tell Bitwise Man to reset"</li>
        <li>"tell Bitwise Man to do a trick"</li>
        <li>"tell Bitwise Man to show off a little"</li>
        <li>"tell Bitwise Man to impress us"</li>
    </ul>

    <p class="credits">
        Bitwise Man was created at Bitwise Industries in Fresno, CA.  Wanna learn to do cool stuff like this???
        <a href="http://geekwiseacademy.com" target="_blank">Checkout Geekwise</a>, educating geeks one line of code at a time!
    </p>
</div>

<img src="images/crosshairs.png"
     class="crosshairs"
     alt="">

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="/javascripts/draw.js"></script>
</body>
</html>
