<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <style>
        body {
            background: url('/images/city.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        img {
            position: absolute;
            top: 20px;
            left: 20px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 25px;
            padding-top: 11px;
            background-color: #000000;
            color: #FFFFFF;
        }

        .footer input {
            color: #000000;
        }

        .spin{
            -webkit-animation: spinreverse 2s linear;
        }

        @-webkit-keyframes spinreverse {
            0%  {-webkit-transform: rotate(0deg);}
            100% {-webkit-transform: rotate(-360deg);}
        }
    </style>
</head>
<body>

<img src="images/superman.gif"
     alt="">

<div class="footer">
    left: <input type="number"
                 id="left">

    top: <input type="number"
                id="top">

    <button id="move">Move</button>
    <button id="zoom">Zoom</button>
    <button id="showoff">Show Off</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="/javascripts/draw.js"></script>
</body>
</html>
