<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bitwise Man Terms Of Use</title>
</head>
<body>

<h1>Bitwise Man Terms Of Use</h1>

<p>
    Bitwise Man is operated by Bitwise Industries in Fresno, CA.  This website and accompanying Amazon Alexa Skill
    collect no information what so ever.  By using the Bitwise Man website or Alexa Skill, you agree to hold harmless
    Bitwise Industries, or anyone related to the development of the Alexa Skill or website.
</p>

</body>
</html>
