<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bitwise Man Privacy Policy</title>
</head>
<body>

<h1>Bitwise Man Privacy Policy</h1>

<p>
    Bitwise Man is operated by Bitwise Industries in Fresno, CA.  This website and accompanying Amazon Alexa Skill
    collect no information what so ever.  Like nothing.  This is a novelty application used to demo some of the
    incredible potential of the Alexa platform.
</p>

</body>
</html>